services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/opt/app
    env_file:
      - .env.dev
    depends_on:
      - db
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    ports:
      - "8001:8000"

  db:
    image: postgres:16-alpine
    env_file:
      - .env.dev
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-coletivo}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4173:80"

volumes:
  postgres_data:
